:root {
    color: #fff;
    color: #33ffcc;
    color: #002535;
    color: #ff9933;
    color: #e6e6eb;
    color: #090400;
    color: #62c4b0;
    color: #34342d;
    color: #26262c;
    color: #7a7a7a;
    color: #2d2d2d;
    color: #000000;
    

}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
}
@font-face {
    src: url(../fonts/Alta_caption.otf);
    font-family: Alta-caption,sans-serif;
}

@font-face {
    src: url(../fonts/Alta_light.otf);
    font-family: Alta-light,sans-serif;
}

@font-face {
    src: url(../fonts/Alta_regular.otf);
    font-family: Alta-regular,sans-serif;
}

img {
    width: 100%;
    height: auto
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    /* font-weight: 600; */
}

.h1,h1 {
    font-size: 48px;
    font-family: alta-regular
}

.h2,h2 {
    font-size: 40px;
    font-family: alta-regular
}

.h3,h3 {
    font-size: 30px;
    font-family: alta-regular
}

.h4,h4 {
    font-size: 27px;
    font-family: alta-regular
}
h5,.h5 {
    font-family: 'Montserrat', sans-serif;
}
a,li,p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px
}

b,strong {
    font-weight: 800
}

ul {
    padding-left: 20px;
    margin-bottom: 0
}

a:focus,a:hover {
    text-decoration: none;
    color: inherit
}

i {
    vertical-align: middle
}

button:focus {
    outline: 0
}

.btn-primary {
    font-size: 20px;
}
.explore {
    position: absolute;
    left: 44%;
    top: 65%;
    right: 0;
    background-color: #c19054;
    border-color: #c19054;
    border-radius: 50px;
    width: 10%;
}
.explore:focus, .explore:hover {
    color: #fff;
    background-color:#c19054;
    border-color:#c19054;
    box-shadow:none;
}
.btn-primary.gold {
    background-color: #c19054;
    border: 1px solid #c19054;
    border-radius: 62px;
    vertical-align: middle;
    padding:10px 15px;
    font-size: 20px;
    color: #ffffff!important;
    line-height: 2;

}
.btn-primary.gold:hover {
    color: #fff!important;
    background-color: #c19054;
    border-color: #c19054;
}
.btn-primary.gold.focus, .btn-primary.gold:focus {
    color: #fff;
    background-color: #c19054!important;
    border-color: #c19054!important;
    box-shadow: none;
}
.btn-primary.gold:not(:disabled):not(.disabled).active, .btn-primary.gold:not(:disabled):not(.disabled):active {
    color: #fff!important;
    border: #c19054 1px solid;
    box-shadow: none!important;
    background-color: #c19054;
}
.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active {
    color: initial!important;
    border: initial;
    box-shadow: none!important;
    background-color: transparent
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    color: #fff;
    background-color: #233619!important;
    border: 1px solid #233619!important;
    font-weight: 400;
    text-transform: none;
    font-size: 15px
}

.gold {
    background-color: #b78348;
    color: #fff;
    font-weight: 400;
    text-transform: none;
    border-radius: 50px solid #b78348;
    /* padding:15px; */
    text-align: center;
    vertical-align: middle;
}

.gold:hover {
    background-color: #fff;
    color: #b78348!important;
    font-weight: 400;
    text-transform: none;
    border: 1px solid #b78348;
}
header {
    background-color: #002535;
    padding: 15px;
}
.card-header {
    padding: 15px;
    margin-bottom: 0;
    background-color: #fff;
    border: 1px solid #e9e9e9
}
.welcome {
    background-color: #002535;
    /* padding: 5% 0; */
}

.contact .gold:hover,.welcome .gold:hover {
    background-color: #fff;
    color: #002535;
    border: 1px solid #002535
}

.card .btn-primary {
    border-radius: 3px
}

.btn-primary.gold:not(:disabled):not(.disabled).active,.btn-primary.gold:not(:disabled):not(.disabled):active {
    color: #fff!important;
    border: initial;
    box-shadow: none!important;
    background-color: #002535
}

.btn-primary.gold.focus,.btn-primary.gold:focus {
    color: #fff;
    background-color: #002535;
    border-color: #002535;
    box-shadow: none
}
.dark-grn:hover {
    color: #374a24;
    background-color: #fff;
    border: 1px solid #374a24
}

.btn-primary.dark-grn:not(:disabled):not(.disabled).active,.btn-primary.dark-grn:not(:disabled):not(.disabled):active {
    color: #fff!important;
    border: initial;
    box-shadow: none!important;
    background-color: #c19014;
}

.btn-primary.dark-grn.focus,.btn-primary.dark-grn:focus {
    color: #fff;
    background-color: #374a24;
    border-color: none;
    box-shadow: none
}

.nav-link {
    display: block;
    /* padding: 0 0 0 3rem */
}

.nav-item {
    color: #fff;
    font-weight: 400
}

.nav-link .nav-item:hover,.nav-link.active .nav-item {
    font-weight: 400;
    color: #fff
}

.header .navbar-light .navbar-nav .active>.nav-link,.header .navbar-light .navbar-nav .nav-link.active,.header .navbar-light .navbar-nav .nav-link.show,.header .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover {
    color: #002535
}
.light-grn {
    background-color: #23464b;
    color:#fff;
    font-size: 15px;
    border-color: #9ac7b3;
}
.btn-primary:hover {
    color: #fff;
    background-color: #23464b;
    border-color: #9ac7b3;
}
.light-grn.focus, .light-grn:focus {
    color: #fff;
    background-color: #23464b;
    border-color: #9ac7b3;
    box-shadow:none;
}
.list-group a, .contact-list-group a, .contact-list-group i{
    color:#fff
}
.list-group a:hover,  .contact-list-group a:hover {
    text-decoration: none;
    color: inherit;
    color: #9ac7b3!important;
}
.form-control::placeholder {
    color:#c9c2a8;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
   
}

.header .nav-item {
    color: #233619;
    font-weight: 400;
    list-style: none;
    padding-right: 45px
}


.header .navbar-nav .nav-item .nav-link {
    border-bottom: transparent;
    padding: 20px 0;
    font-size: 20px;
}

.navbar-collapse .dropdown-menu {
    position: absolute;
    top: 300%;
    left: 45px;
    float: left;
    min-width: 10rem;
    padding: 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 0
}

.navbar-collapse .dropdown-item {
    display: block;
    width: auto;
    padding: 10px 25px;
    clear: both;
    font-weight: 400;
    color: #221f1f;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.navbar-collapse .dropdown-toggle::after {
    display: none
}

.nav-item i {
    margin-right: 20px;
    font-size: 25px
}

.nav-item i:hover {
    color: #002535
}

.home-header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.home-header p {
    font-size: 17px
}


.logo a,.mobi-logo a {
    color: #002535;
    font-size: 30px;
    font-weight: 600
}

.logo img {
    width: 30%
}

.welcome {
    padding-bottom: 5%
}
.award-badges {
    float:right;
}
.contact h2,.signiture-range h2, .inspired h2 {
    color: #000000;
    font-weight: 400;
    text-transform: uppercase;
}
.signiture-range h2 {
    color:#b78348;
}
.inspired h1 {
    color:#664621;
}
.contact {
    padding: 4% 0;
    background-color:#23464b;
}
.inquiry-box {
    border: 1px solid #9ac7b3;
    padding: 30px;
    background-color: #9ac7b3;
}
.inquiry-box h2 {
    color:#fff;
}
.welcome h2 {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}
.contact span,.welcome span,.signiture-range span {
    padding-bottom: 10px;
    border-bottom: 3px solid #ced4da
}
.range {
    margin-top:17%;
}
.btn-primary.learn-more {
    background-color: transparent;
    /* border: 1px solid #ce743f; */
    /* border-radius: 62px; */
    /* text-transform: uppercase; */
    /* vertical-align: middle; */
    /* padding-left: 50px; */
    /* padding-right: 50px; */
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
    font-size: 17px;
    color: #865f33;
    text-decoration: underline;
    font-weight: 600;

}
.brown {
    border: 1px solid #664621;
    border-radius: 10px;
    padding: 15px 15px;
    background-color: #664621;
    color: #fff;
    text-transform: uppercase;
    font-size:15px;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,1.18)!important;
}

.contact h5 {
    color: #233619;
    font-weight: 700
}

.contact li,.contact p {
    color: #233619
}

.contact .list-unstyled a,.contact .list-unstyled p {
    color: #233619;
    font-weight: 700
}

.category-align-sm p {
    color: #161616
}

.category-align-sm h5 {
    color: #233619;
    font-weight: 600;
    padding-top: 20px
}

.category-align-sm p {
    color: #161616;
}

.signiture-range {
    background-color: #fff;
    padding: 3% 0;
    background-size: cover;
    background-repeat: no-repeat
}

.signiture-range .sub-heading {
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
}
.signiture-range p, .inspired p{
    color:#000000;
}
.signiture-range .sub-heading p {
    color: #000000;
    line-height: 30px
}
.inspired {
    padding: 0 0 8% 0;
}
.inspired .card {
    border: 4px solid #865f33;
}
.inspired .card-footer {
    padding: 0!important;
    background-color: transparent;
    border-top: none!important;
}
.inspired .card-footer img {
    width: 40%;
}
.inspired .sub-heading {
    text-transform: uppercase;
    font-style:italic;
    font-weight:800;
    color:#002535;
}

.inspired h5 {
    text-transform: uppercase;
    font-weight: 800;
    color: #002535;
    font-size: 17px;
}
.perfume-bars {
    padding-bottom: 5%;
}
.perfume-bars h3, .perfume-bars h4, .perfume-bars h5 {
    color:#945c27;
}
.perfume-bars p {
    color:#23464b;
}
.exclusive-collections {
    padding:3% 0;
}
.exclusive-collections h1 {
   color:#23464b;
   padding-bottom:20px;
   text-align: center;
   text-transform: uppercase;
}
.exclusive-collections h5 {
    color:#23464b;
    padding-bottom:8%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}
.reviews {
    padding:3% 0 7%;
    background-color: #1a3a3e;
}
.reviews .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 363px;
    padding: 1.25rem;
}
.reviews .carousel-indicators {
    display: none;
}
.reviews .carousel-inner {
    width: 100%;
}
.reviews .carousel-inner p {
  color:#fff;
}
.reviews h2, .reviews p {
    color:#000;
}
.reviews .card-footer {
    background-color: transparent;
    border-top:none;
    text-align: center;
    color:#b78348;
}

.build-intro {
    padding-bottom:8%;
}
.reviews .card {
    border: 1px solid #b78348!important;
    background-color: transparent;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
    color: #fff;
    margin:15px;
}
.reviews h5 {
    margin-top:15px;
}
.border-thin {
    background-color: #b78348;
    width: 40%;
    font-weight: 400;
    height: 1px;
    position: relative;
    left: 30%;
}
.about {
    padding:3% 0;
}
.about p {
    color:#23464b;
    padding-bottom: 3%;
}
.about .h1 {
    color:#23464b;
    text-transform: uppercase;
    padding-bottom:2%;
}
.about h4 {
    color:#b78348;
    text-transform: uppercase;
    padding-bottom:2%;
}
.ambassador h4 {
    color:#865f33;
    text-transform: uppercase;
    text-align: left;
    padding-bottom:2%;
    font-weight:800;
}

.apply {
    border: 1px solid #9ac7b3;
    border-radius: 10px;
    padding: 15px 60px;
    background-color: #9ac7b3;
    color: #fff;
    text-transform: uppercase;
    font-weight:600;
}
.faqs {
    padding:1% 0;
    background-color: #23464b;
    color:#ffffff;
    text-align: center;
    text-transform:uppercase ;
}
.questions {
    padding: 3% 0;
}
.questions .faq-box {
    border: none;
    padding: 3%;
    background-color: #c9c2a8;
}
.accordion .btn-link i {
    float:right;
}
.qts {
    border: 1px solid #000;
    padding: 15px;
    width: 100%;
    color: #23464b !important;
    background-color: #ffffff;
    font-size:14px;
    margin-bottom: 5px;
}
.qts i {
    float:right;
}
.modal-header {
    border-bottom: none;
    background-color:#23464b;
}
.modal-body {
    background-color:#23464b;
    padding-bottom:30px;
    padding-left:30px;
    text-align: center;
    
}
.modal-content {
    border:5px solid #b78348;
}
.modal-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: 10;
}
.contact-list-group i {
    margin-right:15px;
}
.contact-list-group {
    padding-top:20%;
    padding-left:0!important;
}
.list-group li, .contact-list-group li {
    list-style:none;
}
textarea.form-control {
    padding-bottom: 17%
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #495057;
    outline: 0;
    box-shadow: none
}

.form-group a {
    color: #002535
}

#email2 {
    display: none
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #002535;
    background-color: #002535
}


.carousel-control-next,.carousel-control-prev {
    top: 116%;
    width: 96%;
    color: #fff
}

.carousel i {
    font-weight: 500
}

.categories {
    padding-bottom: 5%
}

.product-catalogue-page {
    padding-top: 5%;
    padding-bottom: 2%
}

.product-catalogue-page p {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5%;
    color: #374a24
}

.image-selector img {
    padding: 15px;
    margin-bottom: 0;
    background-color: #fff;
    border: 1px solid #e9e9e9
}

.h5.gold-txt {
    color: #ff9933;
    border-top: 1px solid #ebebeb;
    padding-top: 30px
}


.swal2-confirm {
    background-color: #002535!important
}


.card-body h4 {
    color:#adbaad;
    text-transform: uppercase;
}
.card-body h6 {
    color:#23464b;
    text-transform: uppercase;
    text-align: center;
}
#product-spinner {
    text-align: center;
    display: none
}

#enquire {
    color: #fff
}

.copyright {
    color: #fff
}

.copyright:hover {
    color: #fff
}
.perfume-range {
    width: 40%;
    float: right;
}
.footer.dark-grn {
    padding: 1% 0;
    box-shadow: rgba(0,0,0,.35) 0 5px 15px;
    background-color: #002535;
}

.footer a {
    color: #fff
}

.footer a:hover {
    color: #002535
}

.error-page .row {
    height: 79vh;
    align-items: center
}
